*{
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-color: gray;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

/*header*/

.header-container{
    height: 100px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: gray;
    text-align: center;
    align-items: center;
}
.lists-header{
    font-size: 1em;
    list-style: none;
    display: flex;
    column-gap: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    color: #fff;
}
header h1{
    color:white;
    font-weight: 200;
    margin-left: 1em;
}
header a{
    color: inherit;
    text-decoration: inherit;
}
.headerbutton:hover{
    color: darkred;
    transition: 0.2s;
    cursor: pointer;
}



/*footer*/

footer{
    color: white;
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 50%;
}

#txtfooter{
    margin-left: 10%;
}

.tabspaceright{
    margin-right: 2em;
}

.tabspaceleft{
    margin-left: 3em;
}

.textcenter{
    text-align: center;
}

footer a{
    color: inherit;
    text-decoration: inherit;
}
footer a:hover{
    color: darkred;
    transition: 0.2s;
    cursor: pointer;
}

.footersymbol{
    color: black;
}

.nolineheight{
    line-height: 0;
}

.center{
    display: flex;
    justify-content: center;
}

/*homepage*/
.firstblock-container{
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: center  fixed;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-top: 75%;
        /*padding-top: (img-height px / img-width px * container-width %) */
}
.text-parts{
    position: absolute;
    top: 190px;
    width: 35vw;
    left: 7vw;
    font-size: 1.8vw;
    text-align: center;
}


/*main page*/

.block2{
    background-color: white;
    text-align: center;
    padding: 2em;
    font-size: 1.5em;
}
.block2 h2{
    margin-left: 25%;
    margin-right: 25%;
}
.block2 p{
    margin: 40px;
    margin-left: 25%;
    margin-right: 25%;
}
.thirdblockimg{
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: center  fixed;
    background-size: cover;
    width: 100%;
    height: 0;
    /*padding-top: (img-height px / img-width px * container-width %) */
}
.thirdblockimg{
    padding-top: 55.15%;
}
.txtthirdblock{
    margin-top: -38%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5vw;
}

@media (max-width: 800px){
    .firstblock-container{
        display: flex;
        flex-direction: column;
    }
    .block2{
        font-size: 1em;
        padding: 1em;
    }
    .block2 h2{
        margin-left: 10%;
        margin-right: 10%;
    }
    .block2 p{
        margin-left: 10%;
        margin-right: 10%;
    }
    .txtthirdblock{
        letter-spacing: -0.25vw;
        margin-top: -57%;
        margin-left: 1%;
        margin-right: 1%;
        font-size: 2.5vw;
        text-shadow: 0.1em 0.1em 0.1em black;
    }
    .txtthirdblock h1{
        font-size: 4.4vw;
    }
    footer{
        width: 100%;
        text-align: center;
    }
    #txtfooter{
        margin-left: 0;
    }
    .tabspaceright{
        margin-right: 1em;
    }
    .tabspaceleft{
        margin-left: 1em;
    }
    .header-container{
        justify-content: center;
        height: auto;
    }
    header h1{
        margin-left: 0;
    }
    .lists-header{
        font-weight: 200;
        letter-spacing: 2px;
        padding-left: 0;
        margin-left: 15px;
        margin-right: 15px;
    }
    .text-parts{
        font-size: 3vw;
        width: 40vw;
    }
}