---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageName}}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header id="header">
        <div class="header-container">
            <h1><a href="/">{{websiteName}}</a></h1>
            <ul class="lists-header">
                <li class="headerbutton"><a href="/">{{home}}</a></li>
                <li class="headerbutton"><a href="/vocaldemos">{{vocal}}</a></li>
                <li class="headerbutton"><a href="#footer">{{contact}}</a></li>
            </ul>
        </div>
    </header>
    <div class="firstblock-container" style="background-image: url({{firstImage}});">
        <div class="text-parts">
            <h1>{{bigTextFirstPicture}}</h1>
            <p>{{smallTextFirstPicture}}</p>
        </div>
    </div> 
    <section class="block2">
        <h2>{{presentationBigText}}</h2>
        <p>{{presentationSmallText}}</p>
    </section>
    {% for quote in quotes %}
    <div class="thirdblockimg" style="background-image: url({{quote.bgImage}});">
        <div class="txtthirdblock">
            <h1>"{{quote.testimonialQuote}}"</h1>
            <p>"{{quote.quotee}}"</p>
        </div>
    </div>
    {% endfor %}
    <div class="center">
        <footer id="footer">
            <h2 class="textcenter">{{titleContact}}</h2>
            <div id="txtfooter">
                <div class="nolineheight">
                    <p><span class="tabspaceright">📞</span>{{ukPhoneText}}: <a href="tel:{{ukPhone1}}">{{ukPhone2}}</a></p>
                    <p class="tabspaceleft">{{frPhoneText}}: <a href="tel:{{frPhone1}}">{{frPhone2}}</a></p>
                </div>
                <p><span class="tabspaceright">📧</span>{{mailText}}: <a href="mailto: {{contactMail}}">{{contactMail}}</a></p>
                <p><span class="footersymbol tabspaceright">@</span>{{textMandyProfile}}: <a href="{{mandyProfile}}" target="_blank">{{mandyProfile}}</a></p>
            </div>
        </footer>
    </div>
    <a href="#header">Back to top</a>
</body>
</html>